<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="50px" height="50px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">
	<g id="Layer_x0020_1">
		<path fill="#fff" d="M6.001,0v57.999h1.998V46.002v-1h0.999h10h0.999v1v11.997h1.998V36.001v-0.999h0.999h10h0.999v0.999v21.998	h1.998V26.001v-0.999h0.998h10h1v0.999v31.998h1.997V16.001v-0.999h0.999h10h0.999v0.999v41.998h1.997v2.002H5.982v4.003H3.98 v-4.003h-4.003v-2.002H3.98V0h2.002H6.001z M49.311,2.055l6.001,1.998l0.687,0.229v0.717v6.001h-2.002V6.938L13.572,35.811 l-1.155-1.624l40.409-28.86l-4.141-1.38L49.311,2.055z M9.996,57.999h7.999V47H9.996V57.999z M23.996,57.999h7.999V37.004h-7.999 V57.999z M37.995,57.999h7.999V27h-7.999V57.999z M51.994,57.999h7.999V17h-7.999V57.999z"/>
	</g>
</svg>